services:
  mongodb:
    image: mongodb/mongodb-community-server:8.0-ubuntu2204
    container_name: mongodb
    restart: always
    ports:
      - ${MONGO_PORT}:27017
    env_file:
      - .env

  postgres:
    image: postgres:17.6
    container_name: postgres
    restart: always
    shm_size: 128mb
    ports:
      - ${POSTGRES_PORT}:5432
    env_file:
      - .env

  adminer:
    image: adminer:5.4.1
    restart: always
    ports:
      - ${ADMINER_PORT}:8080
